:host {
  height: 100%;
}

.rtx-list-item {
  padding-top: 20.5px;
  padding-bottom: 32px;
  font-size: 16px;
  color: rgba(255,255,255,0.83);
}

.active {
  border: 1px solid white;
}

.hidden {
  visibility: hidden;
}

.datePicker {
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.token-list-item {
  color: rgba(255,255,255,0.95);
  padding: 32px 32px;
}

.sub-text {
  color: rgba(255,255,255,0.70);
}

.token-list-item:hover {
  background-color: rgba(255,255,255,0.25);
}

.header {
  margin: 0px;
  text-align: right;
}

.sub-text {
  text-align: right;
  margin-top: 0px;
  font-weight: bold;
  color: rgba(255,255,255,0.70);
}

.selected-token {
  background-color: rgba(255,255,255,0.95) !important;
}

.selected-token .header {
  color: rgba(45, 15, 90, 1) !important;
}

.selected-token .sub-text {
  color: rgba(45, 15, 90, 1) !important;
}
