@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: underline;
  color: rgba(45, 15, 90, 0.87);
}

.white {
  color: rgba(255,255,255,0.87) !important;
}

.black {
  color: rgba(0,0,0,0.87) !important;
}

.defaultColor {
  color: rgba(45, 15, 90, 1);
}

.defaultBackgroundColor {
  background-color: rgba(45, 15, 90, 1);
}

.defaultMaxWidth {
  max-width: 960px !important;
  width: 100% !important;
}

.cursor {
  cursor: hand;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rotate {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wc-date-container {
  border: 0px solid white !important;
  padding: 0px 5px !important;
  padding-top: 8px !important;
  padding-bottom: 2px !important;
}

.wc-date-container * {
  color: black !important;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  background-color: rgba(255,255,255,0.0);
}
